h1 {
	
	/*some nice styling code here for the header on each page*/
		
}

.alert-box{
    background-color: red;
    border: #ccc 1px solid;
    display: none;
    color: white;
}

.courseGrid {
	position: relative;
	top: 50px;
    width: 100%;
    height: 800px;
  }

#credentials
{
        list-style-type: none;
        padding: 2px;
}

#login
{
    float:center; 
    /*
    border-top: 2px dotted #000000;
    border-right: 2px dotted #000000;
    border-left: 2px dotted #000000;
    border-bottom: 2px dotted #000000;
    */
    font-family: century gothic;
    font-size: 16px;
    color: #8e0933;
    text-align: center;
    text-align: justify;


    opacity: 0.6;
    filter: alpha(opacity=60);
	
	
	margin-top: 150px;
    
}


#bgImage
{
    background-image: url(../images/light_blue.png); 
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
    /*IMAGE REFERENCE: http://www.desktopwallpapers4.me/digital-art/red-tree-on-the-red-field-14873/*/
  

}

/*ADDED*/


.navbar {
	
	border-color:#337ab7;
	color:#ffffff;	
	background-image:url(../images/NAVBAR_blue.png); 
	
}

.navbar .navbar-brand{
	color: #ffffff;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand: focus {
	color: #ffffff;
	background-color: transparent;
}

.navbar .navbar-nav > /active > a,
.navbar .navbar-nav > /active > a:hover,
.navbar .navbar-nav > /active > focus{
	color: #ffffff;
	background-color: #ffffff;

}

.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus{
	background-color: #ffffff;
	color: #ffffff;

}

.navbar .navbar-nav > li > a{

	color: #9ac4e8;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus{
	background-color: #8e0933;
	color: #ffffff;
	opacity: 0.7;
    filter: alpha(opacity=70);

}


.btn-danger{
	color: #d5ecff;
	/*background-color: #00a4a9; */
	border: none;
	background-s
	background-image: url(../images/button_red.png); 
}

.btn-danger:hover{
	color: #d5ecff;
	background-color: #8e0958;
	border: none;
	/**background-image: url(../images/button_red.png); **/
}





/*button color change */

.btn-danger
{
	background-image:url(../images/button_red.png); 
	background-size:cover;
}

.btn-success
{
	background-image:url(../images/button_lime.png);
	background-size:cover;

}


.btn-info
{
	background-image:url(../images/button_sky3.png);
	background-size:cover;

}

.btn-primary
{
	background-image:url(../images/button_blue3.png);
	background-size:cover;

}


.btn-warning
{
	background-image:url(../images/button_orange3.png);
	background-size:cover;

}




/* added */
#left_space
{
	margin-left:20px;
	margin-right:20px;
}

#s_space
{
	width: 70%
}

.th_size
{
	width: 20%;
	height: 17%;
}


#t_size
{
	width: 50%
	
}

.t_style
{
	border-top: thick double lightblue;
}

.border_color
{
	border-bottom: thick double lightblue;
	padding-bottom : 5%;
}

.font_style
{
	font-size: 125%;
	/*font-style: strong;
	font-family: "Times New Roman", Times, serif;*/
}






#d_design
{
	margin-top: 300px;

}




#f_design
{
    /*background-color: #ffffff;
	opacity: 0.8;
    filter: alpha(opacity=80);
    */
    margin-top:50px;
    height: 100px;
/*	background-image: url(../images/icon.png); */
    
}

#m_bar_side_left
{
    
    /*float:left;*/
    background-color:lightpink;
    padding: 10px;
    margin-left:50px;
    width:250px;
    border-right: thick double #ff0000;
    
    
    
}

#img_center
{
    margin-left:auto;
    margin-right:auto;
    


}

#test
{
    background-color:#ffc;
}



@media print {
    .navbar {
        display: none;
        opacity: 0.4;
        filter: alpha(opacity=40);
		
    }
    navbar:hover
    {
        opacity: 1.0;
        filter: alpha(opacity=100);
        background-color: #ffffff;
        border: 1px solid black;

    }
	

	
	
}

.schedule{
    font-size: 9px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}